body {
    background-color: #000000;
}

.unityContainer {
    width: 960px; 
    height: 600px; 
    margin: 10%;
    display: block;
}

.readme {
    margin: auto;
    font-size: medium;
    font-family: monospace;
}