body {
    background-color: #000000;
}

.unityContainer {
    width: 96%; 
    height: 60%;
    display: block;
}

.readme {
    font-size: medium;
    font-family: monospace;
    text-align: center;
}